<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lvr.threerecom">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>

    <!-- Required 一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="com.lvr.threerecom.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".app.AppApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.movie.MovieDisplayActivity"></activity>
        <activity android:name=".ui.login.SignUpActivity"/>
        <activity android:name=".ui.login.LoginActivity"></activity>
        <activity android:name=".ui.movie.MovieDetailActivity"></activity>
        <activity android:name=".ui.movie.MoviePlayActivity"></activity>
        <activity android:name=".ui.music.MusicActivity"></activity>
        <activity android:name=".ui.music.MusicSongListDetailActivity"></activity>
        <activity android:name=".ui.music.PlayingActivity"></activity>
        <activity android:name=".ui.music.MusicRankingListDetailActivity"></activity>
        <activity android:name=".ui.home.MyInformationActivity"></activity>
        <activity android:name=".ui.home.FavorMovieActivity"></activity>
        <activity android:name=".ui.home.FavorMusicActivity"></activity>
        <activity android:name=".ui.home.AboutActivity"></activity>
        <activity android:name=".ui.home.OpenSourceActivity"></activity>
        <activity android:name=".ui.home.ContactAuthorActivity"></activity>
        <activity android:name=".ui.home.IntroductionActivity"></activity>
        <activity android:name=".ui.home.RecomMovieActivity"></activity>
        <activity android:name=".ui.movie.MovieJudgeActivity"></activity>
        <activity android:name=".ui.home.RecomMusicActivity"></activity>


        <service
            android:name=".sensorcollection.service.SensorService"
            android:process="com.sensor.service">
            <intent-filter>
                <action android:name="com.sensor.service"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </service>

        <service android:name=".service.MediaPlayService"></service>


        <receiver android:name=".broadcastreceiver.ProgressReceiver">
            <intent-filter>
                <action android:name="com.lvr.progress"></action>
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.lvr.threerecom.broadcastreceiver.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" /> <!--Optional 用户接受Rich Push Javascript 回调函数的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.lvr.threerecom" />
            </intent-filter>
        </receiver>





    </application>

</manifest>